.skill-card {
    width: 60%;
    margin-top: 30px;
    background-color: #33C1B1;
    margin-right: auto;
    margin-left: auto;
}

.skill-card-right {
    padding: 15px;
    color: #ffffff;
    width: 100%;
}

.progress-bar-container {
    width: 100%;
    height: 100%;
    background: #2A9D8F;
}

.progress-bar {
    height: 100%; 
    border: none; 
    background: white;
}

.skill-text {
    margin-top: 20px;
    margin-bottom: 20px;
}

.percentage-text {
    padding: 10px;
    color: #33C1B1;
}