.who-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-template-rows: 10vh 10vh 10vh;
    color: white;
    row-gap: 1rem;
    column-gap: 1rem;
}

.who-header {
    grid-column: span 1;
    grid-row: span 1;
    background-color: rgba(1, 1, 1, 0.25);
}

.who-contents {
}