$ABOUT_PRIMARY: rgba(38,70,83,1);
$SKILLS_PRIMARY: rgba(42,157,143,1);
$EDUCATION_PRIMARY: rgba(233,196,106,1);
$EXPERIENCE_PRIMARY: rgba(244,162,97,1);
$PROJECTS_PRIMARY: rgba(231,111,81,1);

$LIGHT: rgb(225, 242, 254);
$WHITE: #ffffff;

$TEXT_DEFAULT: #000000;

$GRID_COLUMN_NUMBER: 12;

$GRID-BREAKPOINTS: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);